[submodule "PhiCalc"]
	path = PhiCalc
	url = https://gitlab.com/edwintrejo/PhiCalc.git
[submodule "nineGuesser"]
	path = nineGuesser
	url = https://gitlab.com/edwintrejo/nineGuesser.git
[submodule "EuclideanAlgorithmCalculator"]
	path = EuclideanAlgorithmCalculator
	url = https://gitlab.com/edwintrejo/EuclideanAlgorithmCalculator.git
[submodule "ArchimedesAlgorithmForPI"]
	path = ArchimedesAlgorithmForPI
	url = https://gitlab.com/edwintrejo/ArchimedesAlgorithmForPI.git
[submodule "GuessTheNumberGame"]
	path = GuessTheNumberGame
	url = https://gitlab.com/edwintrejo/GuessTheNumberGame.git
